* {
    margin: 0;
    padding: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.clearfix:before, .clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clrearfix{zoom:1;}


/* ==================== COMMON ================  */
/*
[class*='col-'] {
    float: left;
}*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

img {
    vertical-align: middle;
    max-width: 100%;
}


.float-right {
    float: right;
}

.col {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    clear: both;
}

.container {
    display: block;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.text-center {
    text-align: center;
}

.helper {
    vertical-align: middle;
    display: inline-block;
    max-height: 45px;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 750px;
    }
}


/* ==================== HEADER =============*/
.logo {
    width: 55%;
}

.topBar {
    width: 45%;
}

.topBar {
    border-bottom: 1px solid #e1e9f2;
    border-top: 1px solid #e1e9f2;
}

.topBar a {
    text-decoration: none;
    color: #9ba4b0;
    font-size: 1em;
}

.topBar li {
    float: right;
    margin-right: 30px;
}

.rowTopBar {
    line-height: 45px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* ==================== END HEADER =============*/

/* ==================== NAV =============*/


/* ==================== END NAV =============*/








